# Laravel
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub/
.dart_tool/
ios/Pods/
android/.gradle/
android/app/debug
android/app/profile
android/app/release

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store